.mainContainerNotifications {
  align-items: center;
  border-bottom: 1px solid rgb(44, 44, 44);
  display: flex;
  justify-content: center;
  padding: 5% 2.5%;
  width: 95%;
}

.containerNotifications {
  align-items: center;
  display: flex;
  width: 90%;
}

.notificationText {
  margin-left: 2.5%;
}

.notificationDate {
  color: gray;
  font-size: 12px;
}

.bigContainer {
  border-right: 1px solid rgb(44, 44, 44);
}

.titleBookmarks {
  align-items: center;
  border-bottom: 1px solid rgb(44, 44, 44);
  display: flex;
  height: 70px;
  justify-content: center;
  width: 100%;
}

.titleBookmarksScroll {
  align-items: center;
  background-color: black;
  display: flex;
  height: 70px;
  justify-content: center;
  opacity: 0.8;
  position: sticky;
  top: 0;
  z-index: 1;
  width: 100%;
}

.titleNotifications {
  color: var(--main-color);
  font-family: var(--main-font);
  font-size: 25px;
  margin: 0;
  padding: 0;
  text-align: center;
  width: 100%;
}

.noNotification {
  align-items: center;
  display: flex;
  flex-direction: column;
}