:root {
  --sections-color: #222222;
  --sections-hover: #393939;
  --main-color: #ff5200;
}

* {
  margin: 0;
  padding: 0;
}

.container {
  background-color: var(--sections-color);
  border-radius: 25px; /* debe ir var(--border-radius) */
  margin: 10% 5% 0 0;
}

.title {
  font-size: 20px;
  margin-left: 7%;
  padding-top: 3%;
  width: 90%;
}

.containerTrend {
  align-items: center;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 5% 0;
}

.containerTrend:hover {
  background-color: var(--sections-hover);
}

.trendBox {
  margin-left: 7%;
}

.trendText {
  color: gray;
  font-size: 12px;
}

.hashtag {
  font-size: 14px;
  font-weight: bold;
  margin: 0.15rem 0;
}

.trendsButton {
  background-color: var(--sections-color);
  border: transparent;
  border-radius: 50%;
  color: white;
  cursor: pointer;
  font-family: "Ubuntu", sans-serif;
  font-size: 14px;
  height: 20px;
  margin-right: 5%;
  width: 20px;
}

.trendsButton:hover {
  background-color: var(--sections-hover);
  color: var(--main-color);
}

.showMore {
  background-color: transparent;
  border: transparent;
  color: white;
  cursor: pointer;
  font-family: "Ubuntu", sans-serif;
  font-size: 14px;
  font-weight: lighter;
  height: auto;
  margin: 0 0 7% 7%;
  width: auto;
}

.showMore:hover {
  text-decoration: underline;
}
