.loadership_LIVPO {
  display: flex;
  position: absolute;
  width: 93px;
  height: 13px;
  top: 50%;
  left: 50%;
}
.loadership_LIVPO div {
  position: absolute;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #ff5200;
  top: 0px;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.loadership_LIVPO div:nth-child(1) {
  left: 0px;
  animation: loadership_LIVPO_scale_up 0.6s infinite;
}
.loadership_LIVPO div:nth-child(2) {
  left: 0px;
  animation: loadership_LIVPO_translate 0.6s infinite;
}
.loadership_LIVPO div:nth-child(3) {
  left: 40px;
  animation: loadership_LIVPO_translate 0.6s infinite;
}
.loadership_LIVPO div:nth-child(4) {
  left: 80px;
  animation: loadership_LIVPO_scale_down 0.6s infinite;
}
@keyframes loadership_LIVPO_scale_up {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes loadership_LIVPO_scale_down {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes loadership_LIVPO_translate {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(40px, 0);
  }
}
