* {
  margin: 0;
  padding: 0;
}

.container {
  background-color: var(--sections-color);
  border-radius: 20px;
  z-index: -2;
  margin: 80px 5% 0 0;
  position: relative;
}

.title {
  font-size: 20px;
  margin-left: 7%;
  padding: 4% 0 2% 0;
  width: 90%;
}

.containerFollow {
  cursor: pointer;
  display: grid;
  grid-template-columns: 1fr 5fr 3fr;
  grid-template-rows: 1fr;
  align-items: center;
  padding: 3% 3% 3% 7%;
}

.containerFollow:hover {
  background-color: var(--sections-hover);
}

.accountImage {
  border-radius: 50%;
  height: 45px;
  width: 45px;
}

.name {
  font-size: 14px;
  font-weight: bold;
  margin: 0.15rem 0;
  padding-left: 5%;
  width: fit-content;
}

.name:hover {
  text-decoration: underline;
}

.accountName {
  color: gray;
  font-size: 12px;
  padding-left: 5%;
}

.buttonFollow {
  background-color: white;
  font-family: "Ubuntu", sans-serif;
  border: solid 1px var(--sections-color);
  border-radius: 20px;
  color: var(--sections-color);
  font-size: 14px;
  font-weight: bolder;
  height: 90%;
  width: fit-content;
  padding: 0 20%;
}

.buttonFollow:hover {
  background-color: whitesmoke;
  border: solid 1px var(--sections-hover);
  cursor: pointer;
}

.showMore {
  font-family: "Ubuntu", sans-serif;
  background-color: transparent;
  border: transparent;
  font-size: 14px;
  font-weight: lighter;
  color: var(--main-color);
  cursor: pointer;
  margin: 3% 0 7% 7%;
  width: auto;
  height: auto;
}

.showMore:hover {
  text-decoration: underline;
}

.rightButton {
  text-align: center;
}

@media (max-width: 1000px) {
  .container {
    display: none;
  }
}
