node_modules/
.idea
.env
package-lock.json
.vscode
coverage

# OS X
.DS_Store*
Icon?
._*

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Linux
.directory
*~

# npm
node_modules
package-lock.json
*.log
*.gz
.env
.vscode
data

# jetbrains
.idea

# Coveralls
coverage

# Benchmarking
benchmarks/graphs