.search {
  display: flex;
  align-items: center;
  position: fixed;
  width: 23%;
  height: 70px;
  background-color: black;
}

.buscador {
  background-color: #222222;
  border: none;
  border-radius: 20px;
  color: white;
  height: 60%;
  width: 100%;
  padding-left: 10%;
  font-size: 15px;
  margin-bottom: 0;
  margin-right: 5%;
}

.buscador::placeholder {
  color: gray;
  font-size: 15px;
  font-weight: lighter;
}
