.editProfileButton {
    background-color: transparent;
    border: 1px solid white;
    border-radius: 30px;
    color: white;
    font-size: 15px;
    font-weight: bold;
    height: fit-content;
    margin-top: 50px;
    padding: 5px 15px;
    width: max-content;
  }
  
  .editProfileButton:hover {
    cursor: pointer;
    background-color: #2f2f2f;
  }
  