.mainButton {
  border: 1px solid var(--main-color);
  font-family: var(--main-font);
  font-size: 14px;
  font-weight: lighter;
  height: fit-content;
  padding: 7px 15px;
  width: max-content;
}

.popOut {
  position: absolute;
  display: flex;
  flex-direction: column;

  align-items: center;

  top: -552px;
  left: 373px;
  z-index: 999;
  background-color: #222222;
  width: 441px;
  height: 419px;
  border-radius: var(--border-radius);
  border: 2px solid white;
}

.popOut h2 {
  margin-top: 5%;
  margin-bottom: 0;
}

.logo {
  width: 7rem;
  height: 6rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.popOut > button {
  border: 1px solid var(--main-color);
  font-family: var(--main-font);
  font-size: 17px;
  height: 3rem;
  margin-top: 1.5rem;
  width: 10rem;
}