:root {
    --sections-color: #222222;
    --sections-hover: #2F2F2F;
    --main-color:#00A9A5;
}

* {
    margin: 0;
    padding: 0;
}

.container {
    background-color: var(--sections-color);
    border-radius: 25px;
    margin: 20px 20px 0 0;
}

.title {
    border-radius: 50px 25px 0 0;
    font-size: 20px;
    margin: 10px 0 0 20px;
    padding-top: 10px;
    width: 200px
}


.containerFollow {
    cursor: pointer;
    display: grid;
    grid-template-columns: 1fr 5fr 2fr;
    grid-template-rows: 1fr;
    align-items: center;
    padding-left: 20px;
    margin: 20px 0;
}

.containerFollow:hover {
    background-color: var(--sections-hover);
}

.accountImage {
    border-radius: 50%;
    height: 40px;
    width: 40px;
}

.name {
    font-size: 14px;
    font-weight: bold;
    margin: 2px 0;
}

.name:hover {
    text-decoration: underline;
}

.accountName {
    color: gray;
    font-size: 12px;
}

.buttonFollow {
    background-color: white;
    border: solid 1px var(--sections-color);
    border-radius: 20px;
    color: var(--sections-color);
    font-weight: bold;
    height: 40px;
    margin-right: 10px;
    width: 100px;
}

.buttonFollow:hover {
    background-color: whitesmoke;
    border: solid 1px var(--sections-hover);
    cursor: pointer;
}


.showMore {
    background-color: transparent;
    border: transparent;
    color: #00A9A5;
    cursor: pointer;
    margin: 0 0 20px 20px;
}