.container {
  width: 100%;
  display: flex;
  justify-content: center;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* input {
  border-radius: 25%;
  border: 1px solid #eee;
  flex: 1;
  margin: 4px;
  padding: 0 8px;
}

input:focus {
  outline: 0;
}

button {
  background: #09f;
  color: #fff;
  border: 0;
  margin: 4px;
  border-radius: 4px;
}

button:hover {
  background: #0cf;
} */
