.container {
  cursor: pointer;
  height: 23px;
  position: relative;
  width: 30px;
}

.popOutContainer {
  background-color: var(--sections-color);
  border-radius: 1rem;
  cursor: default;
  height: fit-content;
  padding: 20%;
  position: absolute;
  right: 2%;
  top: 33%;
  width: 300%;
}

.editDeleteOptions {
  align-items: center;
  cursor: pointer;
  display: flex;
  margin: 4%;
  width: 100%;
}

.editDeleteOptions:hover {
  background-color: var(--sections-hover);
}

.editDeleteTexts {
  color: gray;
  font-family: var(--main-font);
  margin-left: 5%;
}

.editPopOut {
  align-items: center;
  background-color: var(--sections-color);
  border: 1px solid white;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: 50%;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 35%;
  z-index: 10;
}

.editTextArea {
  background-color: black;
  border: transparent;
  border-radius: 0.5rem;
  color: white;
  font-family: var(--main-font);
  font-size: 15px;
  margin-top: 3%;
  width: 80%;
}

.buttonsDiv {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  margin: 5% 0;
  width: 100%;
}

.cancelButton {
  background-color: white;
  border: solid 1px white;
  border-radius: 20px;
  color: black;
  font-family: var(--main-font);
  font-size: 15px;
  height: fit-content;
  padding: 7px 15px;
  width: 100px;
}

.cancelButton:hover {
  background-color: whitesmoke;
}

.saveAndDelete {
  background-color: var(--main-color);
  border: solid 1px var(--main-color);
  border-radius: 20px;
  color: black;
  font-family: var(--main-font);
  font-size: 15px;
  height: fit-content;
  padding: 7px 15px;
  width: 100px;
}

.saveAndDelete:hover {
  background-color: var(--color-hover);
}

.deletePopOut {
  align-items: center;
  background-color: var(--sections-color);
  border: 1px solid white;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: 50%;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 28%;
  z-index: 10;
}

.editDeleteTitle {
  font-size: 17px;
  margin-top: 5%;
}

.overlay {
  background-color: black;
  height: 100%;
  left: 0;
  opacity: 1;
  position: fixed;
  top: 0;
  transition: opacity 0.3s ease;
  width: 100%;
  z-index: 10;
}

.active {
  background-color: grey;
  opacity: 0.8;
}