.container {
  position: relative;
  margin-left: 73%;
}
.dots {
  width: 20%;
  height: 10%;
  cursor: pointer;
}

.popOutContainer {
  position: absolute;
  width: 24%;
  height: 17%;
  border: 1px solid red;
  right: 2%;
  top: 33%;
}
