.container {
  background-color: black;
  padding: 2% 2.5%;
  position: absolute;
  top: 50%;
  left: 50%;
  width: fit-content;
  border-radius: 40px;
  user-select: none;
  transform: translate(-50%, -50%);
}

header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 7%;
  font-weight: bold;
  user-select: none;
}

.x {
  font-size: 20px;
  color: white;
  font-weight: bold;
  user-select: none;
  cursor: pointer;
  margin-left: 90%;
}

.tittle {
  color: var(--main-color);
  font-family: var(--main-font);
  font-size: 27px;
  margin-bottom: 10%;
}

.inputContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.inputFields {
  font-family: var(--main-font);
  font-size: 15px;
  width: 90%;
}

.inputFields::placeholder {
  font-family: var(--main-font);
  color: gray;
}

.submit {
  background-color: var(--main-color);
  border-radius: 40px;
  color: white;
  cursor: pointer;
  font-family: var(--main-font);
  font-size: 20px;
  font-weight: bold;
  height: auto;
  padding: 3% 0;
  text-align: center;
  user-select: none;
  width: 90%;
}

.notValid {
  background-color: #e7e1e1;
  border-radius: 40px;
  color: rgb(0, 0, 0);
  cursor: not-allowed;
  font-family: var(--main-font);
  font-size: 20px;
  font-weight: bold;
  height: auto;
  opacity: 0.3;
  padding: 3% 0;
  text-align: center;
  user-select: none;
  width: 90%;
}

footer {
  margin: 10% 0 0 0;
  
}

.textsInForm {
  font-family: var(--main-font);
  font-size: 13px;
  margin-bottom: 2%;
  text-align: center;
}

.textsInForm > span {
  cursor: pointer;
  color: var(--main-color);
  font-weight: bold;
  text-decoration: underline;
}

.loading {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url("images/pageLoader.gif") 50% 50% no-repeat rgb(249, 249, 249);
  opacity: 0.8;
}
