.container{ 
    background-color: black;
    padding-top: 1rem;
    padding-right: 2rem;
    padding-left: 2rem;
    padding-bottom: 2rem;
    position: absolute;
    top: 27%;
    left: 50%;
    width: 331px;
    min-height: 25rem;
    margin-top: -75px;
    margin-left: -150px;
    border-radius: 40px;
    user-select: none;
 }
 header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2.5rem;
    font-weight: bold;
    user-select: none;
}
.x{
    font-size: 1.2rem;
    color: white;
    font-weight: bold;
    user-select: none;
    cursor: pointer;
    margin-left: 20rem;
   
    
}

 .submit {
    text-align: center;
    color: black;
    border-radius: 3rem;
    width: 18rem;
    height: 3.4rem;
    font-size: 1.6rem;
    cursor: pointer;
    background-color:  #858585;
    user-select: none;
    font-weight: bold;
}