.bigContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.container {
  display: flex;
  flex-direction: column;
  width: 95%;
  padding: 20px;
  border-top: 1px solid rgb(44, 44, 44);
}

.userContainer {
  display: flex;
  margin-bottom: 10px;
  align-items: center;
}

.userContainer img {
  width: 25px;
  height: 25px;
  border-radius: 20px;
  margin-right: 10px;
}

.userContainer p {
  font-weight: bold;
  font-size: 20px;
}

.likesContainer {
  display: flex;
}

.likesContainer p {
  margin: 0 10px 0 0;
}
