:root {
  --sections-color: #222222;
  --sections-hover: #2f2f2f;
  --main-color: #ff5200;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 5%;
}

.containerPost {
  border: 1px solid var(--sections-hover);
  display: flex;
  gap: 20px;
  padding: 20px;
  width: 80%;
}

.containerPost textarea::placeholder {
  color: white;
  font-size: 17px;
}

.accountImage {
  border-radius: 50%;
  height: 40px;
  width: 40px;
}

.postInput {
  background-color: black;
  color: white;
  border: transparent;
  font-size: 17px;
  width: 700px;
}

.containerButtons {
  border: 1px solid var(--sections-hover);
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding: 20px;
  width: 80%;
}

.postButton {
  background-color: var(--main-color);
  border: solid 1px var(--main-color);
  border-radius: 20px;
  cursor: pointer;
  height: 40px;
  width: 100px;
}

.postButton:hover {
  background-color: #008b89;
  border: solid 1px #008b89;
}
