:root {
  --sections-color: #222222;
  --sections-hover: #2f2f2f;
  --main-color: #ff5200;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 70px;
}

.containerPost {
  border-bottom: 1px solid var(--sections-hover);
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 20px;
  width: 95%;
}

.fixed {
  border-bottom: 1px solid #2f2f2f;
  border-right: 1px solid #2f2f2f;
  width: 50%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  cursor: pointer;
  top: 0;
  position: fixed;
  z-index: 1;
}

.header {
  border-bottom: 1px solid #2f2f2f;
  border-right: 1px solid #2f2f2f;
  width: 50%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  cursor: pointer;
  top: 0;
  position: fixed;
  background-color: black;
  opacity: 0.7;
  z-index: 1;
}

.fixed p,
.header p {
  color: #ff5200;
  font-weight: bolder;
}

.containerPost textarea::placeholder {
  color: white;
  font-family: var(--main-font);
  font-size: 17px;
  font-weight: lighter;
}

.accountImage {
  border-radius: 50%;
  height: 40px;
  width: 40px;
}

.postInput {
  background-color: black;
  color: white;
  border: transparent;
  font-size: 17px;
  width: 80%;
}

.containerButtons {
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding: 2% 0;
  width: 95%;
}

.postButton {
  background-color: var(--main-color);
  border: solid 1px var(--main-color);
  border-radius: 20px;
  cursor: pointer;
  font-family: var(--main-font);
  font-size: 17px;
  font-weight: lighter;
  height: 40px;
  width: 100px;
}

.postButton:hover {
  background-color: #e94a00;
  border: solid 1px #e94a00;
}
