* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

.container {
  user-select: none;
  position: relative;
  width: 100vw;
  min-height: 100vh;
  background-color: rgb(0, 0, 0);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.logo {
  height: 90%;
  width: 30%;
  margin: 5%;
}

.right {
  display: flex;
  flex-direction: column;
  margin: 5%;
  width: 40%;
  align-items: center;
}

h1 {
  font-size: 4.1rem;
  font-weight: bold;
  padding-bottom: 8%;
  text-align: center;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 8%;
}

button {
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: bold;
  width: 16rem;
  height: 4rem;
  border-radius: 40px;
}

.createButton {
  background-color: var(--main-color);
  font-family: var(--main-font);
  border: 1px solid var(--main-color);
}

.createButton:active {
  transform: translateY(4px);
}

.loginButton {
  background-color: white;
  border: 1px solid white;
  color: black;
  font-family: var(--main-font);
}

.loginButton:hover {
  background-color: whitesmoke;
}

.loginButton:active {
  transform: translateY(4px);
}

.buttons > p {
  text-align: center;
  font-weight: lighter;
  margin: 5% 0;
  font-size: 1.5rem;
  width: fit-content;
}

@media screen and (max-width: 1220px) {
  h1 {
    font-size: 3.5rem;
  }
}

@media screen and (max-width: 1040px) {
  h1 {
    font-size: 3.2rem;
  }
}

@media screen and (max-width: 800px) {

  .container {
    flex-direction: column;
  }

  .logo {
    width: 35%;
  }

  h1 {
    width: max-content;
  }
}

@media screen and (max-width: 500px) {
  .logo {
    width: 45%;
    margin-bottom: 15%;
  }

  h1 {
    font-size: 2.2rem;
  }

  button {
    font-size: 1.2rem;
    width: 13rem;
    height: 3.5rem;
  }

  .buttons p {
    font-size: 1.3rem;
  }
}