* {
  color: rgb(0, 0, 0);
  margin: 0;
  padding: 0;
  user-select: none;
}
.container {
  background-color: black;
  padding: 2% 2.5%;
  position: absolute;
  top: 50%;
  left: 50%;
  width: fit-content;
    border-radius: 40px;
  user-select: none;
  transform: translate(-50%, -50%);
}

header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 7%;
  font-weight: bold;
  user-select: none;
}

.x {
  font-size: 20px;
  color: white;
  font-weight: bold;
  user-select: none;
  cursor: pointer;
}

.tittle {
  color: var(--main-color);
  font-family: var(--main-font);
  font-size: 27px;
  margin-bottom: 10%;
}

.dateLabel {
  color: white;
  display: block;
  user-select: none;
}

.inputContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.inputFields {
  color: black;
  font-family: var(--main-font);
  font-size: 15px;
  height: auto;
  margin-bottom: 7%;
  padding: 2% 0 2% 3%;
  user-select: none;
  width: 90%;
}

.inputFields::placeholder {
  font-family: var(--main-font);
  color: gray;
}

.error {
  color: grey;
  font-family: var(--main-font);
  font-size: 13px;
  margin-bottom: 5%;
}

input {
  padding-left: 0.3rem;
  color: black;
  height: auto;
  padding: 2% 0;
  margin-bottom: 1rem;
  user-select: none;
}

.goBack {
  display: flex;
  flex-direction: row-reverse;
}
img {
  width: 3rem;
  height: 2.5rem;
  cursor: pointer;
}

.submit {
  text-align: center;
  color: black;
  border-radius: 3rem;
  width: 18rem;
  height: 3.4rem;
  font-size: 1.6rem;
  cursor: pointer;
  background-color: #858585;
  user-select: none;
  font-weight: bold;
}
footer {
  margin-left: 1rem;
  font-size: 0.9rem;
  user-select: none;
  margin-top: 0.8rem;
}



.link {
  cursor: pointer;
  color: #ff5200;
  font-weight: bold;
  text-decoration: underline;
}

.errorSubmit {
  margin-top: 20rem;
  margin-left: 20rem;
  font-size: 2rem;
  color: red;
  user-select: none;
}
