.button {
  display: flex;
  flex-direction: column;
}

.deleteCancelButton {
  display: flex;
  justify-content: space-around;
  margin-top: 5%;
}

.upload {
  background-color: var(--main-color);
  border: none;
  border-radius: 30px;
  color: white;
  cursor: pointer;
  font-family: var(--main-font);
  font-size: 15px;
  font-weight: bold;
  height: fit-content;
  padding: 7px 15px;
  text-align: center;
  width: fit-content;
}

.upload:hover {
  background-color: var(--color-hover);
}

.delete {
  background-color: #a70000;
  border: none;
  border-radius: 30px;
  color: white;
  cursor: pointer;
  font-family: var(--main-font);
  font-size: 15px;
  font-weight: bold;
  height: fit-content;
  padding: 7px 15px;
  text-align: center;
  width: fit-content;
}
.delete:hover {
  background-color: #7b0202;
}

[type="file"] {
  display: none;
}
