.container {
  background-color: black;
  padding: 2% 2.5%;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 25%;
  border-radius: 40px;
  user-select: none;
  transform: translate(-50%, -50%);
}

h2 {
  color: var(--main-color);
  font-family: var(--main-font);
  font-size: 24px;
  margin-bottom: 4%;
  text-align: center;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.inputContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-bottom: 5%;
}

.uploadPhotosContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.inputFields {
  color: black;
  font-family: var(--main-font);
  font-size: 15px;
  height: auto;
  padding: 2% 0 2% 3%;
  border: 1px solid #ddd;
  border-radius: 15px;
  width: 100%;
  margin-bottom: 0;
}

.inputFields::placeholder {
  font-family: var(--main-font);
  color: gray;
}

textarea {
  resize: none;
  border: 1px solid #ddd;
  border-radius: 15px;
  padding: 2% 3%;
}

.error {
  color: red;
  font-family: var(--main-font);
  font-size: 13px;
  margin-bottom: 5%;
}

.submit {
  background-color: var(--main-color);
  border-radius: 40px;
  color: white;
  cursor: pointer;
  font-family: var(--main-font);
  font-size: 15px;
  font-weight: bold;
  height: auto;
  margin-top: 5%;
  padding: 2% 0;
  border: none;
  text-align: center;
  width: 25%;
}

.submit:hover {
  background-color: #e7540f;
}

.notValid {
  background-color: #e7e1e1;
  border-radius: 5px;
  color: rgb(0, 0, 0);
  cursor: not-allowed;
  font-family: var(--main-font);
  font-size: 18px;
  font-weight: bold;
  height: auto;
  margin-top: 5%;
  opacity: 0.3;
  padding: 3% 0;
  text-align: center;
  width: 100%;
}
