.backgroundPhoto {
  height: 100%;
  object-fit: contain;
  width: 100%;
  margin-bottom: 60px;
}

.backgroundPhoto:hover {
  cursor: pointer;
}

.userPhotoUserProfile {
  border-radius: 50%;
  height: 150px;
  width: 150px;
  margin-top: -50px;
}

.userPhotoUserProfile:hover {
  cursor: pointer;
}

.userPhotoComponents {
  border-radius: 50%;
  height: 45px;
  width: 45px;
}

.userPhotoComponents:hover {
  cursor: pointer;
}

.userPhotoMeow {
  border-radius: 50%;
  height: 35px;
  width: 35px;
  margin-right: 15px;
}

.userPhotoMeow:hover {
  cursor: pointer;
}
