.backgroundPhoto {
  height: 100%;
  margin-bottom: 60px;
  max-height: 400px;
  max-width: 1200px;
  object-fit: contain;
  width: 100%;
}

.backgroundPhoto:hover {
  cursor: pointer;
}

.userPhotoUserProfile {
  border-radius: 50%;
  height: 150px;
  margin-top: -50px;
  width: 150px;
}

.userPhotoUserProfile:hover {
  cursor: pointer;
}

.userPhotoComponents {
  border-radius: 50%;
  height: 45px;
  width: 45px;
}

.userPhotoComponents:hover {
  cursor: pointer;
}

.userPhotoMeow {
  border-radius: 50%;
  height: 35px;
  margin-right: 15px;
  width: 35px;
}

.userPhotoMeow:hover {
  cursor: pointer;
}
