.button {
  display: flex;
  padding: 5%;
}

.upload {
  background-color: var(--main-color);
  border: none;
  border-radius: 35px;
  color: white;
  cursor: pointer;
  font-family: var(--main-font);
  font-size: 13px;
  font-weight: bold;
  height: auto;
  margin-top: 5%;
  padding: 1rem;
  width: 85%;
  text-align: center;
}

[type="file"] {
  display: none;
}
