.backgroundPhoto {
  height: 100%;
  margin-bottom: 60px;
  object-fit: contain;
  width: 100%;
  position: relative;
  z-index: -1;
}

.backgroundPhoto:hover {
  cursor: pointer;
}

.userPhoto {
  border-radius: 50%;
  height: 150px;
  margin-top: -50px;
  width: 150px;
  position: relative;
  z-index: -1;
}

.userPhoto:hover {
  cursor: pointer;
}

[type="file"] {
  display: none;
}
