.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 1;
  transition: opacity 0.3s ease;
  z-index: 1;
}

.active {
  opacity: 0.8;
  background-color: grey;
}

.bigContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #2c2c2c;
}

.nameContainer {
  position: fixed;
  z-index: 0;
  height: 70px;
  width: 50%;
  background-color: black;
}

.nameContainerScroll {
  position: fixed;
  z-index: 1;
  height: 70px;
  width: 50%;
  background-color: black;
  opacity: 0.8;
}

.nameContainer p {
  margin-left: 2%;
}

.nameContainerScroll p {
  margin-left: 2%;
}

.container {
  border: 1px solid #2c2c2c;
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 80%;
}

.profileInfo {
  padding-left: 20px;
}

.name {
  cursor: pointer;
  font-size: 25px;
  font-weight: bold;
  margin: 2px 0;
  width: fit-content;
}

.name:hover {
  text-decoration: underline;
}

.grayFont {
  color: gray;
  cursor: pointer;
  font-size: 14px;
}

.relativeContainer {
  /* margin: 5px; */
  position: relative;
  /*   z-index: -1; */
}

.photoContainer {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-inline-end: 5%;
  margin-inline-start: 5%;
  margin-top: -80px;
}

.tabsContainer {
  border-right: 1px solid #2c2c2c;
}

.editProfile {
  background-color: transparent;
  border: 1px solid white;
  border-radius: 30px;
  color: white;
  font-family: "Ubuntu", sans-serif;
  font-size: 15px;
  font-weight: bold;
  height: fit-content;
  padding: 7px 15px;
  width: max-content;
}

.editProfile:hover {
  color: black;
  cursor: pointer;
  background-color: white;
}

.info {
  color: gray;
  display: flex;
  gap: 10px;
  margin: 2% 0px;
}

.info p {
  color: gray;
}

.options {
  height: 20px;
  margin-right: 1px;
  width: 20px;
}

span {
  color: white;
  font-size: 20px;
  cursor: pointer;
}
