#root {
  font-family: "Ubuntu", sans-serif;
  font-size: 15px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-synthesis: none;
  font-weight: 400;
  line-height: 1.5;
  min-height: 100vh;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  width: 100%;
}

:root {
  --divMargin: 5%;
  --border-radius: 20px;
  --margin-left-general: 7%;
  --main-color: #568340;
  --color-hover: #496d37;
  --sections-color: #222222;
  --sections-hover: #2f2f2f;
  --main-font: "Ubuntu", sans-serif;
}

body {
  background-color: black;
  background-color: black;
  display: flex;
  height: 100vh;
}

.noScroll {
  overflow: hidden;
}

* {
  color: white;
  margin: 0;
  padding: 0;
}
