#root {
  font-family: 'Ubuntu', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  min-height: 100vh;
}

body {
  display: flex;
  background-color: black;
  height: 100vh;
  background-color: black;
}

* {
  margin: 0;
  padding: 0;
  color: white;
}
